body {
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span{
  color:red;
}
.App{

  min-height:100vh;
  display:flex;
  flex-direction: column;
}
.header{
  font-size:12px;
  min-height:20px;
  margin-top:2px;
  margin-left: 10px;
}
.header-left{
  margin-left: 10px;
  float:left;
}
.header-right{
  width:20%;
  float:right;
  max-width:200px;
  max-height:16px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.content{
  flex-grow:1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;

}
.content_search{
  padding-bottom:20px;
}
.content_search_result{
  border:3px solid teal;
  padding-top:10px;
  height:150px;
  overflow:auto;
}
.footer{
  font: 0.8em Arial,Helvetica,sans-serif;
  text-align:center;
  height:40px;
  margin-bottom:0;
  width:100%;
  color:grey;
  margin-top:2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
