.Sgeneral{
    display:flex;
    flex-direction: column;
    text-align:center;
    margin-top:30px;
}

.Sgeneral_search{
    display:flex;
    border:3px solid #FFCC00;
    border-radius: 0.75rem 0.625rem 0.625rem 0.75rem;
    background-color:#FFCC00;
    height:30px;
    width:60%;
    align-self: center;
}
.in1_1{
    flex-grow:1;
    height:inherit;
}
.in2_2{
    width:90px;
}
.in1{
    padding-left:1%;
    width:100%;
    float:left;
    font-size: 19px;
    outline: none;
    border:3px solid white;
    border-radius:0.75rem 0.625rem 0.625rem 0.75rem;
}
#in2{
    width:100%;
    height:inherit;
    border:3px solid #FFCC00;
    background-color:#FFCC00;
    border-radius:0.75rem 0.625rem 0.625rem 0.75rem;
    cursor:pointer;
    font-family: Impact, fantasy;
    font-size:20px;
    letter-spacing:1px;
}
#in2:focus{
    border:3px solid #FFCC00;
}
.content_warning{
    height:13px;
}
.inner_content_warning{
    color:red;
    font-size:12px;
}