body {

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span{
  color:red;
}
.App{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  width:100%;
}
.header{
  font-size:12px;
  min-height:20px;
  margin-top:2px;
  margin-left: 10px;
}
.header-left{
  margin-left: 10px;
  float:left;
}
.header-right{
  width:20%;
  float:right;
  max-width:200px;
  max-height:16px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.content{
  flex-grow:1;
  width:60%;

  align-self: center;
  margin-top:250px;
  margin-bottom:270px;
  vertical-align: center;
  text-align:center;
  padding-top:4%;
}
.footer{
  font: 0.8em Arial,Helvetica,sans-serif;
  text-align:center;
  height:40px;
  margin-bottom:0px;
  width:100%;
  color:grey;
  margin-top:2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
