body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
span{
  color:red;
}

.header{
  font-size:12px;
  height:20px;
  margin-top:2px;
  margin-left: 10px;
}
.header-left{
  margin-left: 10px;
  float:left;
}
.header-right{
  width:20%;
  float:right;
  max-width:200px;
  max-height:16px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
#header-right-nick{
  float:left;
  width:30%;
}
#header-right-mail{
  width:30%;
  float:left;
  margin-left:5%;
}
#header-right-exit{
  margin-left:5%;
  float:left;
  width:30%;

 }

.content{
  height:450px;
  text-align:center;
}
#image-content{
  position:relative;
  top:45%;
}
.footer{
  font: 0.8em Arial,Helvetica,sans-serif;
  text-align:center;
  height:8%;
  position:absolute;
  bottom:0;
  width:100%;
  color:grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
